<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468594885557-20lqjo4u77bn29s9qq0lpcaai75hnjim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468594885557-20lqjo4u77bn29s9qq0lpcaai75hnjim</string>
	<key>API_KEY</key>
	<string>AIzaSyA5I1vWqSKDdjiiB-CzkyuoS8r4ZKUVYr8</string>
	<key>GCM_SENDER_ID</key>
	<string>468594885557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flashchat.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-35b16</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-35b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468594885557:ios:c577a04559ae1511424ffc</string>
</dict>
</plist>